<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ciclistas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
   	<link rel="stylesheet" href="/css/navbar.css">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->

</head>

<body>
        <div class="card ">
            <div class="card-body  bg-dark text-white">
            <!-- Sidebar -->
   			 <nav id="sidebar">
      	  <div href="/css/navbar.css" class="sidenav">
      <ul >
            <p> Navegaciçon</p>
              <li>
                <a th:href="@{/ciclistas/home}">Home</a>
            </li>
            <li>
                <a th:href="@{/ciclistas/listaCiclistas}">Ciclistas</a>
            </li>
            <li>
                <a th:href="@{/ciclistas/listaEquipos}">Equipos</a>
            </li>
            <li>
               <a th:href="@{/ciclistas/listaEtapas}">Etapas</a>
            </li>
             <li>
               <a th:href="@{/ciclistas/listaMaillots}">Maillots</a>
            </li>
            <li>
                <a th:href="@{/ciclistas/listaPuertos}">Puertos</a>
            </li>
              <li>
                <a th:href="@{/ciclistas/listaGanadores}">Ganadores</a>
            </li>
            <li>
                 
                    <form th:action="@{/logout}" method="POST">
                    <button class="btn btn-outline-light" type="submit"> Logout </button>
                    </form>
            </li>
        </ul>
        </div>
    </nav>
                <div th:switch="${equipo}" class="container lg-5  bg-dark text-white">
                    <p class="my-6">
                        <a href="/ciclistas/listaEquipos" class="btn btn-primary"><i
       class="fas fa-backward ml-4"> Volver a lista</i></a>
                    </p>
                    <p>
                     	
                        <a th:href="@{/ciclistas/rmEquipos/{id}(id=${equipo.nomeq})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a>
                        <a th:href="@{/ciclistas/deleteEquipos/{id}(id=${equipo.nomeq})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a>
                    <div class="col-md-10">
                        <h2 th:case="null">No hay ciclistas</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Pokemons</th>
                                        <th>Entrenador</th>
                                        <th>Editar</th>
                                        <th>Borrar</th>  
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                   
                                      <tr>
                                        <td th:text="${equipo.nombre}"></td>
                                        <td th:text="${equipo.descripcion}"></td>
                                        <td>
                                           <select class="form-control" id="eq" name="eq">
                               				<option th:each="pokemon : ${pokemons}" th:value="${pokemon.id}" th:text="${pokemon.nombre}"></option>
                              				 </select>
                                        </td>
                                        <td th:text="${equipo.entrenador}"></td>
                                        <td><a th:href="@{/pokemons/rmEquipos/{id}(id=${equipo.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                        <td><a th:href="@{/pokemons/deleteEquipos/{id}(id=${equipo.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                    
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
  
</body>

</html>